.teams-page {
  min-height: 100vh;
  background: radial-gradient(circle, #061a44, #020b25);
  padding: 60px;
}

.teams-title {
  color: white;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  letter-spacing: 3px;
}

/* last row single card ko center karne ke liye */
.teams-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* 👇 agar last row me sirf ek item ho */
.teams-grid > :last-child {
  grid-column: 2 / 3;
}


.team-card {
  height: 120px;
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

.team-card img {
  width: 48px;
  margin-bottom: 10px;
}

.team-card p {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.team-card:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.35);
}
